/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
}

.section-1 {
  background: #f7f7f7;
  height: 16vh;
  width: auto;
}
.section-1 .section-1-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin: auto 235px auto auto;
}
.section-1 .section-1-container .text-and-paragrapgh {
  padding-top: 2.5%;
}
.section-1 .section-1-container .text-and-paragrapgh h2 {
  padding: 0 20% 0 20%;
  font-family: "Poppins", sans-serif;
}
.section-1 .section-1-container .text-and-paragrapgh p {
  padding: 0 20% 0 20%;
  font-family: "Poppins", sans-serif;
}
.section-1 .section-1-container .two-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: inherit;
  padding-top: 35px;
}
.section-1 .section-1-container .two-btns a {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
}
.section-1 .section-1-container .two-btns :nth-child(1) {
  border-radius: 5px;
  height: 15px;
  padding: 10px 10px 15px 10px;
  transition: ease-in 0.5s;
}
.section-1 .section-1-container .two-btns :hover {
  transition: 0.5s ease-in;
  cursor: pointer;
  background: rgba(216, 214, 214, 0.6392156863);
}
.section-1 .section-1-container .two-btns :nth-child(2) {
  background: transparent;
  border-radius: 5px;
  height: 15px;
  padding: 10px 10px 16px 10px;
  transition: 0.5s ease-in;
}
.section-1 .section-1-container .two-btns :hover {
  transition: 0.5s ease-in;
  cursor: pointer;
  background: rgba(216, 214, 214, 0.6392156863);
}

.section-2 {
  background: #ead6d3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.section-2 .section-2-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
}
.section-2 .section-2-container h1 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  padding: 0 20% 0 20%;
}
.section-2 .section-2-container h3 {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 0 20% 0 20%;
}
.section-2 .section-2-container p {
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  padding: 0 20% 0 20%;
}

.section-3 {
  background: #f7f7f7;
  height: 16vh;
  width: auto;
}
.section-3 .section-3-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 4%;
}
.section-3 .section-3-container a {
  clear: both;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  margin-left: 10px;
  text-decoration: none;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 5px;
  height: 15px;
  padding: 10px 10px 16px 10px;
  transition: 0.5s ease-in;
  margin: 0 70px 0 10px;
}
.section-3 .section-3-container :hover {
  transition: 0.5s ease-in;
  cursor: pointer;
  background: rgba(216, 214, 214, 0.6392156863);
}

.section-4 {
  background: #ead6d3;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}
.section-4 .section-4-left {
  padding: 0 12% 0 17%;
}
.section-4 .section-4-left p {
  font-family: "Poppins", sans-serif;
}
.section-4 .section-4-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  max-width: -webkit-fill-available;
}
.section-4 .section-4-image-container img {
  width: -webkit-fill-available;
  height: auto;
  width: 50%;
}/*# sourceMappingURL=style.css.map */